# Python Bytecode and Cache Files
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.vscode/
.vagrant/

# Log Files
*.log

# Database Files
instance/*.db
../.env
.env
env

# System-Specific Files
.DS_Store
portforward.log
.dockerconfigjson
vault-tokens